.text {
  text-align: center;
}

.slide-element-container {
  position: absolute;
  background-color: white;
}

.slide-element-content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slide-element:hover {
  cursor: pointer;
}

.corner-top-left {
  position: absolute;
  top: 0px;
  left: 0px;  
  width: 5px;
  height: 5px;
  cursor: pointer;
  background-color: #bfbfbf;
  z-index: 1000;
}

.corner-top-right {
  position: absolute;
  width: 5px;
  top: 0px;
  right: 0px;
  height: 5px;
  cursor: pointer;
  background-color: #bfbfbf;
  z-index: 1000;
}

.corner-bottom-left {
  position: absolute;
  width: 5px;
  height: 5px;
  cursor: pointer;
  background-color: #bfbfbf;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
}

.corner-bottom-right {
  position: absolute;
  width: 5px;
  height: 5px;
  cursor: pointer;
  background-color: #bfbfbf;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
}

.image-element {
  width: 100%;
  height: 100%;
}

.video-element {
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: none;
}

.text-element {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.selectedClass {
  cursor: move !important;
  border: 2px solid #6495ed;
}

.not-selectedClass {
  cursor: pointer !important;
  border: none;
}

.resize-handle-top-left {
  cursor: nw-resize;
  position: absolute;
  width: 6px;
  height: 6px;
  top: -3px;
  left: -3px;
  background-color: #6495ed;
}

.resize-handle-top-right {
  cursor: ne-resize;
  position: absolute;
  width: 6px;
  height: 6px;
  top: -3px;
  right: -3px;
  background-color: #6495ed;
}

.resize-handle-bottom-left {
  cursor: sw-resize;
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: -3px;
  left: -3px;
  background-color: #6495ed;
}

.resize-handle-bottom-right {
  cursor: se-resize;
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: -3px;
  right: -3px;
  background-color: #6495ed;
}

.monaco-slide {
  pointer-events: none;
}